# Nokia Snake Platform Environment Config
DEBUG=True
SECRET_KEY=nokia-3310-super-secret-key-enterprise-edition-2026
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
ALLOWED_HOSTS=127.0.0.1,localhost
REDIS_URL=redis://127.0.0.1:6379/0
